<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/detailIdea.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/test.css">
    <script src="/test.js"></script>
</head>
<body id="body-pd">
<header class="header" id="header">
    <div class="header_toggle"><i class='bx bx-menu' id="header-toggle"></i></div>
    <div class="header_img"><img src="https://i.imgur.com/hczKIze.jpg" alt=""></div>
</header>
<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div>
            <a href="#" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">Greenwich</span>
            </a>
            <div class="nav_list">
                <h4 class="nav_name nav_link" style="color: #dddddd"><i class='bx bx-body'></i> Admin</h4>
                <a th:href="@{'/admin/dashboard'}" class="nav_link active"> <i class='bx bx-grid-alt nav_icon'></i> <span
                        class="nav_name">Dashboard</span> </a>
                <a th:href="@{'/admin/showUser'}" class="nav_link"> <i
                        class='bx bx-user nav_icon'></i> <span class="nav_name">Users</span> </a>
                <a th:href="@{'/admin/showAllDepartment'}" class="nav_link"> <i
                        class='bx bx-message-square-detail nav_icon'></i> <span class="nav_name">Department</span> </a>
                <h4 class="nav_name nav_link" style="color: #dddddd"><i class='bx bx-body'></i> QAM</h4>
                <a th:href="@{'/QAM/showCategory'}" class="nav_link"> <i class='bx bx-bookmark nav_icon'></i> <span
                        class="nav_name">Creat Category</span> </a>
                <a th:href="@{'/QAM/go_event'}" class="nav_link"> <i class='bx bx-folder nav_icon'></i> <span class="nav_name">Creat Even</span> </a>
                <h4 class="nav_name nav_link" style="color: #dddddd"><i class='bx bx-body'></i> User</h4>
                <a th:href="@{'/user/my_idea'}" class="nav_link"> <i class='bx bx-bar-chart-alt-2 nav_icon'></i> <span class="nav_name">My Idea</span> </a>

            </div>
            <a th:href="@{/logout}" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">SignOut</span> </a>
        </div>
    </nav>
</div>
<div class="height-100 bg-light">
    <h4><small>RECENT POSTS</small></h4>
    <hr>
    <h2 th:text="${idea.title}"></h2>
    <h6><span><i class='bx bx-time-five'></i> </span> <span th:text="${idea.nameUser}"></span>, <span th:text="${#temporals.format(idea.getCreateAt(), 'dd-MM-yyyy')}"></span>.</h6>
    <p th:each="file : ${idea.docsEntities}"><a th:href="@{'/dowload/'+${file.id}}" th:text="${file.docName}"></a></p>
    <div id="list_comment">
        <a th:href="@{'/likes/?id='+ ${idea.id}}"><span style="color: coral">Like</span></a>
        <span aria-hidden="true"> · </span>
        <i class="fa fa-thumbs-o-up"></i> <span class="count" th:text="${felling.likeCount}"></span>
        <span aria-hidden="true"></span>
        <a th:href="@{'/dislike/?id='+ ${idea.id}}"><span style="color: coral"> Dislike</span></a>
        <span aria-hidden="true"> · </span>
        <i class="fa fa-thumbs-o-up"></i> <span class="count"
                                                th:text="${fellingDislike.dislikeCount}"></span>
    </div>
    <br>

    <h4>Leave a Comment:</h4>
    <form method="post" th:object="${commentA}" th:action="@{'/user/comment/' + ${idea.getId()}}" >
        <div class="form-group"><input rows="3" type="text" class="form-control"
                                       placeholder="Enter your comment..." name="content"></div>
    </form>
    <div class="row">
        <div class="mt-2" th:each="comment : ${idea.comments}">
            <div class="d-flex flex-row p-3">
                <div class="w-100">
                    <div class=" justify-content-between align-items-center">
                        <div class="align-items-center">
                            <h5 class="mr-2" th:text="${comment.email}"></h5>
                        </div>
                        <small th:text="${#temporals.format(comment.createAt, 'dd-MM-yyyy')}"></small>
                    </div>
                    <p class="text-justify comment-text mb-0"
                       th:text="${comment.content}"></p>
                    <div class="d-flex flex-row user-feed">
                        <a th:href="@{'/user/edit_comment/?id='+ ${comment.id} + '&ids=' + ${idea.id} } "><span class="wish">
                                                        edit</span></a>
                        <a th:href="@{'/user/delete_comment/?id='+ ${comment.id} + '&ids=' + ${idea.id}}"><span class="ml-3">
                                                        delete</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>