<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Idea</title>
    <link rel="stylesheet" href="/css/createIdea.css">

    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
            rel="stylesheet"
    />
</head>
<body>


<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
                        <form  id="uploadFiles" name="uploadFiles" th:action="@{/user/go_edit_idea}" th:object="${ideass}" method="post" encType="multipart/form-data">
                            <input id="id"  th:field="*{id}" hidden/>
                            <input id="user"  th:field="*{user}" hidden/>
                            <input id="event"  th:field="*{event}" hidden/>

                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="title"> Title </label>

                                        <input style="background-color: #8fc4b7" th:field="*{title}" type="text" id="title" class="form-control form-control-lg border" />

                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">
                                    <h6 class="mb-2 pb-1">Submit File : </h6>
                                    <div class="form-outline">
                                        <input name="files" type="file" id="file" class="form-control form-control-lg" />
                                    </div>
                                </div>
                                <dl class="row" th:each="file : ${ideass.docsEntities}">
                                    <p th:text="${file.docName}"></p>
                                    <a th:href="@{'/deleteFile/'+${file.id} + '/idea/' + *{id}}">Delete</a>
                                </dl>

                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 d-flex align-items-center">

                                    <div class="form-outline datepicker w-100">
                                        <!--                                        <input type="text" class="form-control form-control-lg" id="birthdayDate" />-->
                                        <!--                                        <label for="birthdayDate" class="form-label">Birthday</label>-->
                                    </div>

                                </div>


                                <div class="col-md-6 mb-4">

                                    <h6 class="mb-2 pb-1">Anonymous User: </h6>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="incognito" id="femaleGender"
                                               value="1" />
                                    </div>


                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">

                                    <!--                                    <div class="form-outline">-->
                                    <!--                                        <input type="email" id="emailAddress" class="form-control form-control-lg" />-->
                                    <!--                                        <label class="form-label" for="emailAddress">Email</label>-->
                                    <!--                                    </div>-->

                                </div>
                                <div class="col-md-6 mb-4 pb-2">

                                    <!--                                    <div class="form-outline">-->
                                    <!--                                        <input type="tel" id="phoneNumber" class="form-control form-control-lg" />-->
                                    <!--                                        <label class="form-label" for="phoneNumber">Phone Number</label>-->
                                    <!--                                    </div>-->

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">

                                    <select class="select form-control-lg"  th:field="*{category}">
                                        <option th:each="c : ${categories}"
                                                th:text="${c.nameCategory}"
                                                th:value="${c.id}"></option>
                                    </select>
                                    <label class="form-label select-label">Choose Category</label>

                                </div>
                            </div>

                            <div class="mt-4 pt-2">
                                <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>